<header>
  <nav
    class="navbar shadow-lg d-flex align-items-center justify-content-between"
  >
    <ul
      id="nav-items-lg"
      class="d-flex m-0 list-unstyled align-items-center justify-content-between"
    >
      <li class="ms-3 me-2">
        <h1 class="m-0"><a (click)="HomeReload()">P T R</a></h1>
      </li>
      <li class="ms-3">
        <a
          class="unstyle-link text-light"
          routerLink="home"
          routerLinkActive="active-route"
          >Home</a
        >
      </li>
      <li class="ms-3">
        <a
          class="unstyle-link text-light"
          routerLink="services"
          routerLinkActive="active-route"
          >Services</a
        >
      </li>
      <li class="ms-3">
        <a
          class="unstyle-link text-light"
          routerLink="photos"
          routerLinkActive="active-route"
          >Photos</a
        >
      </li>
      <li class="ms-3">
        <a
          class="unstyle-link text-light"
          routerLink="about"
          routerLinkActive="active-route"
          >About us</a
        >
      </li>
    </ul>
    <ul
      id="nav-items-sm"
      class="m-0 list-unstyled align-items-center justify-content-between d-none w-100"
    >
      <li class="ms-3">
        <h3 class="m-0"><a (click)="HomeReload()">PTR</a></h3>
      </li>
      <li>
        <div class="dropdown dropstart me-3">
          <div
            class="cursor-pointer"
            id="nav-items-dropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-list text-light"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </div>
          <ul class="dropdown-menu" aria-labelledby="nav-items-dropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="home"
                routerLinkActive="nav-menu-active"
                >Home</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="services"
                routerLinkActive="nav-menu-active"
                >Services</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="about"
                routerLinkActive="nav-menu-active"
                >About us</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="photos"
                routerLinkActive="nav-menu-active"
                >Photos</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="contact"
                routerLinkActive="nav-menu-active"
                >Contact us</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <button
      routerLink="contact"
      routerLinkActive="active-route-contact"
      id="contact-button"
      class="btn btn-light p-1 ps-2 pe-2 me-3"
    >
      <a class="unstyle-link text-dark"> Contact us </a>
    </button>
  </nav>
</header>
<div class="p-2">
  <router-outlet></router-outlet>
</div>
