html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e6e6e6;
}
.cursor-pointer {
  cursor: pointer;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
  /* Real browsers */
  filter: alpha(opacity=60);
  /* MSIE */
}